.first{
    margin-top: 100px;
}

.fImg{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.fInput{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

 /** to center both buttons since it can't be done with display: block and margin-left and right: auto**/
.button{
    display: flex;
    justify-content: center;
}

.fButton{
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #dfe1e5;
    border-radius: 3px;
    background: #dfe1e5;
}